/*
Tabla de contenidos: 

color palette:

	BACKGROUND------neutral #F0F0F0"
	FONT------------Carbon #404545;
	HOVER-----------sky #BDDFED;
	TITLE/ACCENT----watermelon (ish) #F45555 

FONT FAMILY GROUPS: 

	TITLE----------font-family: 'Open Sans', sans-serif; (TITLE)
	BYLINE-------Font-family: 'Gentium Basic', serif; (ITALICS)
	DECK-----------font-family: 'Open Sans', sans-serif; 
	BODY-----------Font-family: 'Gentium Basic', serif; (BODY)
						font-family: 'Open Sans', sans-serif; (TITLE)


**CURRENT**:
BODY_____font-family: 'Old Standard TT', serif;
TITLE____font-family: 'Questrial', sans-serif;

  */




@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');


body{
	background-color: #F0F0F0;
	color: #404545;
	font-family:  'Old Standard TT', serif;
	font-size: 24px;
	font-style: normal;
	margin: 2px;
	padding: 0;
	display: block;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* 
This styles the nav menu. copied from W3school */
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 120px;
    background-color: #BDDFED;
    opacity: .85;

		font-size: 1.6rem;
		color: white;
	} */
	
/* Change the link color on hover */
li a:hover {
    background-color: #404545;
    color: white;
}


.lead{
	padding: 50px 0 0 0;
}



.firstcharacter {
  color: #F45555;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}


.image1{
  min-width: 1024px;

align-content: center;
  height: auto;
  max-width: 1200px;
align-content: center;
}

.image-body{
align-content: center;
  height: auto;
  max-width: 700px;
margin: 2px;
	padding: 0;
	display: block;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

.head-img {

  position: fixed;
  top: 0;
  left: 0;

  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  z-index: -1;
}

img{

 /*  -webkit- filter: grayscale(100%); */
  filter: grayscale(100%);
}

.hero{
/* 		 border: 1px solid red;*/	
/* font-family: 'Questrial', sans-serif; */
/* 	font-style: normal;
	font-size: 16px; */
	width: 1000px;
	height: 100vh;
	padding: 0;
	margin-left: auto;
	margin-right: auto;

}



/* 
This styles the headline, deck, and byline */
/* this is the headline */
h1 {
/* 	this adds stroke for definition against photo */
text-shadow: 0px .5px .5px #404545;
   	margin-top: 100px;
/*    	height: 50vh;
 */    margin-bottom: 10px;
	color: #F45555; 
	font-family: 'Questrial', sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	max-width: 100%;
	padding: 0 0 0 0px;
	text-transform: uppercase;

}

/* deck*/
h2{
	font-family:  'Old Standard TT', serif;
	line-height: 1.5;
	color: #404545; 
	font-size: 2rem;
	font-style: normal;
	text-shadow: .2px .1px .1px black;
	margin-top: 60px;
	font-weight: 700;


          
}

.deck{ background-color:#BDDFED;
opacity: .85; 
padding: 3px;
margin: 1px;}

/* div.background{
			background-color:#BDDFED;
			opacity: .85 ;
		
			}	
			
		
div.deck {
			font-weight:bold;
			color:#404545;
		} */
			


/* byline */
h3{
	text-align: left;
/* 	padding: 1px;
 *//* 	margin-top: 100px;
 */	color: #F45555;
	font-family:  'Questrial', sans-serif;
	font-weight: bold;
	margin-top: 70px;
	font-size: 2rem;
		text-transform: uppercase;
		text-shadow: .5px .5px .5px #404545;

}



.clearfix {
	clear: both;
}

header a {
	color:  white;
	text-decoration: none;
}


article{
/* 	padding: 50px;
 */	background-color: #F0F0F0;
	color: #404545;
	font-family:'Old Standard TT', serif;
	font-size: 24px;
}




 li {
    list-style-type: none;
}

/* header nav {
	width: auto;
	position: absolute;
	left: 0;
	right: 0;

} */


section {
	width: 100%;
/* 	padding: 90px 0;
 */	/* TRouBLe */

	 /* border: 1px solid red; */
}

p {
	display: block;
	max-width: 750px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

aside {

/* 		border: 1px solid red;
 */		float: right;
	    width: 25%;
	    margin: 3em 1em 0.6em 2em;
	    opacity: 1;
	    border-top: 1px solid #ccc;

}

	a{
	text-decoration: none;
}
/* 
a:link, a:visited {
    color: #7AD9D0;
}
 */

 a:link {
    color: #F45555;
}

/* visited link */
a:visited {
    color: #F45555;
}

/* mouse over link */
a:hover {
    color: #BDDFED;
}

/* selected link */
a:active {
    color: #F45555;
}

.sidebar-docs{
	color: #F45555;



}
.title {
/* 	border: 1px solid red;
 */	color: #BDDFED;
	font-family: 'Questrial', sans-serif;
	font-style: normal
	font-size: 30px;
}

.group{
	/* font-family: 'Old Standard TT', serif; */
	font-family: 'Questrial', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;

}
/* 
This section styles pull quotes
they will be 
- centered
- in font questrial (like title)
- in accent color #FFA730

 */
blockquote {
		color: #F45555;
		font-family: 'Questrial', sans-serif;
		font-size: 28px;
		font-weight: normal;
		width: 45%; 
		text-align: justify;
	margin-left: auto;
	margin-right: auto;
}
 /* quote 1 centered */
/* .quote-1{
	float: left;
	justify-content: center;
	border: 1px solid red;
}
 */

/* .inline-img{
	min-height: 100%;
  min-width: 1024px;
  max-width: 100%;
 }
 */

/* 
#title{
   max-width: 1300px;
    width: 100%;
    height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin-left: auto;
	margin-right: auto;
} 