/*
FONT FAMILY GROUPS: 
font-family: 'Gentium Basic', serif;
font-family: 'Open Sans', sans-serif; */


body {
		background-color: #000000;
		color: #ffffff;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
		display: block;
		text-align: justify;
		margin-left: auto;
		margin-right: auto;
}

h1 {
        text-align: center;
        width: 500px;

}
#title{
/*    max-width: 1300px;
 */    width: 100%;
    height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin-left: auto;
	margin-right: auto;
}