/*
Tabla de contenidos: 

color palette 

BACKGROUND------MAJESTIC BLUE: 011627;
FONT------------SMOKE WHITE (WHITE) F5F7F4;
HOVER-----------MIDDLE GREEN BLUE (FOR HOVER) #7AD9D0;
TITLE/ACCENT----DEEP SAFFRON (TITLE COLOR) FFA730



FONT FAMILY GROUPS: 
TITLE----------font-family: 'Open Sans', sans-serif; (TITLE)
BYLINE-------Font-family: 'Gentium Basic', serif; (ITALICS)
DECK-----------font-family: 'Open Sans', sans-serif; 
BODY-----------Font-family: 'Gentium Basic', serif; (BODY)
						font-family: 'Open Sans', sans-serif; (TITLE)




*/

@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');

body{
	background-color: #011627;
	color: #F5F7F4;
	font-family: 'Gentium Basic', serif;
	font-size: 16px;
	font-style: normal;
	margin: 0;
	padding: 0;
	display: block;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

article{
/* 	padding: 50px;
 */	background-color: #011627;
	color: #F5F7F4;
	font-family: 'Gentium Basic', serif;
	font-size: 16px;
}

header {
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
	color: #FFA730;
	width: 100%;
	position: relative;
}

/* header nav {
	width: auto;
	position: absolute;
	left: 0;
	right: 0;

} */

header ul {
	margin: 0 auto;
	list-style: none;
}

header ul li {
	float: left;
	width: auto;
	margin-right: 20px;
		border: 1px solid red;
} 

.clearfix {
	clear: both;
}

header a {
	color:  white;
	text-decoration: none;
}

section {
	width: 100%;
	padding: 90px 0;
	/* TRouBLe */
	/* background-color: red;
	 */
	 /* border: 1px solid red; */
}

p {
	display: block;
	max-width: 750px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* .hero {
	background-color:  blue;
} */


.head-img {
  position: fixed;
  top: 0;
  left: 0;

  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  z-index: -1;
}

.hero{
	width: 700px;
	height: 100vh;
	padding: 0;
	text-align: justify;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #FFA730;
	font-family: 'Open Sans', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	max-width: 50%;
}

h2{
	font-family: 'Gentium Basic', serif;
	color: #FFA730; 
	font-size: 2rem;
	font-style: normal;
}

h3{
	color: #011627;
	font-family: font-family: 'Gentium Basic', serif;
	font-weight: bold;
	font-size: 28px;

}

blockquote {
background-color: #011627;
		color: #FFA730;
		font-family: 'Open Sans', sans-serif; 
		font-size: 24px;
		font-weight: normal;
		width: 50%; 
		text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* .inline-img{
	min-height: 100%;
  min-width: 1024px;
  max-width: 100%;
 }
 */




/* 
#title{
   max-width: 1300px;
    width: 100%;
    height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin-left: auto;
	margin-right: auto;
} */