/*
Tabla de contenidos: 

color palette 

BACKGROUND------MAJESTIC BLUE: #011627;
FONT------------SMOKE WHITE (WHITE) #F5F7F4;
HOVER-----------MIDDLE GREEN BLUE (FOR HOVER) #7AD9D0;
TITLE/ACCENT----DEEP SAFFRON (TITLE COLOR) #FFA730



FONT FAMILY GROUPS: 
TITLE----------font-family: 'Open Sans', sans-serif; (TITLE)
BYLINE-------Font-family: 'Gentium Basic', serif; (ITALICS)
DECK-----------font-family: 'Open Sans', sans-serif; 
BODY-----------Font-family: 'Gentium Basic', serif; (BODY)
						font-family: 'Open Sans', sans-serif; (TITLE)


OR:
BODY_____font-family: 'Old Standard TT', serif;
TITLE____font-family: 'Questrial', sans-serif;

  */




@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');

body{
	background-color: #011627;
	color: #F5F7F4;
	font-family:  'Old Standard TT', serif;
	font-size: 24px;
	font-style: normal;
	margin: 0;
	padding: 0;
	display: block;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* .menu {
	position: relative;
	display: block;
	width: 30%;
	float: left;

} */

nav ul {
	list-style: none;
	margin: 0 auto;
}

.menu li {
	width: 33%;
	float: left;
}

.menu a {
	padding: 15px 0;
	color: rgba(255, 255, 255, 1.0);
	text-decoration: none; 
	text-align: center;
}

nav {
	position: align-content: space-between;
	width: 100%;
	bottom: 320px;
	text-align: center;
}
/*

.line {
	display: block;
	width: 35%;
	margin-top: 15px;
	height: 2px;
	background-color: white;
	float: left;
}

.menu {
	position: relative;
	display: block;
	width: 30%;
	float: left;

}

nav ul {
	list-style: none;
	margin: 0 auto;
}

.menu li {
	width: 33%;
	float: left;
}


.menu a:hover {
	color: rgba(255, 255, 255, 0.7);
}

*/

li a {
	font-size: 1.4rem;
	color: white;
}
div.menu {
border: 1px solid red;
	background-color: #000;
	font-family: 'Questrial', sans-serif;
	color: #011627;
	width: 100%;
	position: relative;
}
/* 
This styles the headline, deck, and byline */
/* this is the headline */
h1 {
	color: #FFA730;
	font-family: 'Questrial', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
	max-width: 100%;
}

/* byline */
h2{
	font-family:  'Old Standard TT', serif;
	color: #FFA730; 
	font-size: 2rem;
	font-style: normal;
}

h3{
	color: #011627;
	font-family:  'Old Standard TT', serif;
	font-weight: bold;
	font-size: 28px;

}

header ul {
	margin: 0 auto;
	list-style: none;
}

header ul li {
	float: left;
	width: auto;
	margin-right: 20px;
		border: 1px solid red;
} 

.clearfix {
	clear: both;
}

header a {
	color:  white;
	text-decoration: none;
}


article{
/* 	padding: 50px;
 */	background-color: #011627;
	color: #F5F7F4;
	font-family:'Old Standard TT', serif;
	font-size: 24px;
}

 li {
    list-style-type: none;
}

/* header nav {
	width: auto;
	position: absolute;
	left: 0;
	right: 0;

} */


section {
	width: 100%;
	padding: 90px 0;
	/* TRouBLe */

	 /* border: 1px solid red; */
}

p {
	display: block;
	max-width: 750px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

/* .hero {
	background-color:  blue;
} */


.head-img {
  position: fixed;
  top: 0;
  left: 0;

  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;
  z-index: -1;
}

.hero{
	font-family: 'Questrial', sans-serif;
	font-style: normal;
	font-size: 16px;
	width: 700px;
	height: 100vh;
	padding: 0;
	text-align: justify;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
}

aside {

/* 		border: 1px solid red;
 */		float: right;
	    width: 25%;
	    margin: 3em 1em 0.6em 2em;
	    opacity: 1;
	    border-top: 1px solid #ccc;

}

	a{
	text-decoration: none;
}
/* 
a:link, a:visited {
    color: #7AD9D0;
}
 */

 a:link {
    color: #7AD9D0;
}

/* visited link */
a:visited {
    color: #7AD9D0;
}

/* mouse over link */
a:hover {
    color: #FFA730;
}

/* selected link */
a:active {
    color: #FFA730;
}

.sidebar-docs{
	color: #FFA730;



}
.title {
/* 	border: 1px solid red;
 */	color: #7AD9D0;
	font-family: 'Questrial', sans-serif;
	font-style: normal
	font-size: 30px;
}

.group{
	/* font-family: 'Old Standard TT', serif; */
	font-family: 'Questrial', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;

}
/* 
This section styles pull quotes
they will be 
- centered
- in font questrial (like title)
- in accent color #FFA730

 */
blockquote {
		color: #FFA730;
		font-family: 'Questrial', sans-serif;
		font-size: 24px;
		font-weight: normal;
		width: 50%; 
		text-align: justify;
	margin-left: auto;
	margin-right: auto;
}
 /* quote 1 centered */
/* .quote-1{
	float: left;
	justify-content: center;
	border: 1px solid red;
}
 */

/* .inline-img{
	min-height: 100%;
  min-width: 1024px;
  max-width: 100%;
 }
 */

/* 
#title{
   max-width: 1300px;
    width: 100%;
    height: auto;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  margin-left: auto;
	margin-right: auto;
} 